# Ignore bin directories
**/bin/
bin/

# Ignore dll files
*.dll

# Common .NET build output directories
**/obj/
obj/
**/Debug/
**/Release/

# Visual Studio / Rider files
.vs/
.idea/
*.user
*.suo
*.cache

## .NET build output
bin/
obj/
[Bb]in/
[Oo]bj/
*.cache

# .NET specific files
*.AssemblyInfo.cs
*AssemblyReference.cache
*AssemblyInfoInputs.cache
*.[Cc]ache
*.[Cc]ache.*

